<%- include("include/head.ejs")%>

    <body>
        <h1 style="text-align: center; margin-top: 100px;">Error! <br><br>No Account Found </h1>
        <%- include("include/footer.ejs")%>
    </body>

    </html>