<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is home page.</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci iusto provident quibusdam iste fugit harum perspiciatis? Minus consequatur dolorem atque eaque dolores vero fugit repellendus quo quae, sapiente quidem blanditiis minima suscipit tenetur hic laborum. Tenetur quod enim sapiente fugiat esse aspernatur laboriosam quasi laborum, ad at magni soluta quas? </p>
    <button>Click Me</button>
</body>
</html>