<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
</head>

<body>
    <h1>This account belongs to <%= username %>
    </h1>
    <button>Follow</button>
    <button>Message</button>
    <h1>Followers</h1>
    <ul>
        <%for(let follower of followers){%>
            <li>
                <%=follower%>
            </li>
            <%}%>
    </ul>
</body>

</html>