<%- include("include/head.ejs")%>
<body>
    <h1>This account belongs to <%= username %>
    </h1>
    <button>Follow</button>
    <button>Message</button>
    <h1>Followers</h1>
    <ul>
        <%for(let follower of followers){%>
            <li>
                <%=follower%>
            </li>
            <%}%>
    </ul>
</body>

</html>